* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #85d4f4;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 15%;
    height: auto;
}

nav#navegacao {
    display: flex;
    align-items: center;
}

ul#links-navegacao {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul#links-navegacao li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px 8px 16px;
}

ul#links-navegacao li a {
    text-decoration: none;
    color: #414ABA;
    font-size: 18px;
    transition: transform 0.3s ease;
}

ul#links-navegacao li a:hover {
    transform: scale(1.1);
}

#redes {
    display: flex;
    justify-content: center;
}

ul#redes-sociais {
    display: flex;
    gap: 20px;
    list-style: none;
}

.social-item img {
    width: 5vw;
    height: auto;
    transition: transform 0.3s ease;
}

.social-item img:hover {
    transform: scale(1.1);
}

main {
    padding: 30px;
    background-color: #fff;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background-color: #e2e2e2;
    width: 30%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h3 {
    font-size: 22px;
    margin-top: 15px;
}

.card p {
    margin: 10px 0;
    color: #555;
}

.card button {
    background-color: #414ABA;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.card button:hover {
    background-color: #333;
}

footer {
    background-color: #85d4f4;
    color: white;
    padding: 15px;
    text-align: center;
}

footer p {
    font-size: 16px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 10px 20px;
    }

    #logo {
        width: 20%;
    }

    nav#navegacao {
        margin-top: 10px;
    }

    ul#links-navegacao {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    ul#links-navegacao li {
        padding: 8px;
    }

    #redes {
        margin-top: 20px;
        justify-content: center;
    }

    ul#redes-sociais {
        flex-direction: row;
        gap: 15px;
        justify-content: center;
    }


    .card-container {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .card {
        width: 90%; 
        margin-bottom: 20px;
    }

    .card img {
        max-width: 100%;
    }

    .card h3 {
        font-size: 18px;
    }

    .card p {
        font-size: 14px;
    }

    .card button {
        width: 100%;
        font-size: 16px;
    }

    footer {
        padding: 20px;
        text-align: center;
    }

    footer p {
        font-size: 14px;
    }
}
